<div class="user--show--container">
  <div class="profile--container">
    <%= cl_image_tag @user.avatar.key, height: 245, width: 245, crop: :fill %>
    <h2 class='profile--container__username'><%= @user.username.capitalize %></h2>
    <p class='profile--container__bio'><%= @user.bio %></p>
    <%= link_to @user.email do %>
    <p><i class="far fa-envelope"></i> <%= @user.email %></p>
    <% end %>
    <div class="profile--container__plays">
      <hr><p>instruments</p><hr>
    </div>
    <div class="profile--container__instruments">
      <% @user.instruments_played.each do |instrument| %>
        <p><%= instrument %></p>
      <% end %>
      <p>guitar</p>
      <p>french horn</p>
      <p>drums</p>
      <p>banjo</p>
    </div>
  </div>
  <div class="jams--attending">
  <% Booking.where(user_id: @user).each do |booking|%>
    <%= link_to jam_path(booking.jam) do %>
      <div class="jams--attending__booking">
      <%= cl_image_tag booking.jam.photo.key, height: 80, width: 80, crop: :fill %>
        <div class="jams--attending__booking__info">
          <div class="jams--attending__booking__info__title">
            <% if (booking.jam.title.length > 25) %>
              <h5> <%= booking.jam.title[0,25] %>...</h5><p class='date'><%= booking.jam.date.strftime("%F at %H:%M") %></p>
            <% else %>
              <h5> <%= booking.jam.title %>...</h5><p class='date'><%= booking.jam.date.strftime("%F at %H:%M") %></p>
            <% end %>
          </div>
          <p class='jams--attending__booking__info__description'> <%= booking.jam.description %></p>
          <p class='jams--attending__booking__user__instrument'><span><%= @user.username.capitalize %></span> is attending with <%= booking.instrument %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
