<div class="container">
  <% if policy(Jam).create? %>
    <%= link_to "New Jam", new_jam_path %>
  <% end %>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <% @jams.each do |jam| %>
        <div class="jam-card">
          <img src="https://picsum.photos/150">
          <div class="jam-info">
            <h5><%= jam.title %></h2>
            <p><%= jam.location %></p>
            <p><%= jam.date %></p>
            <div class="d-flex flex-row justify-content-end">
              <%= link_to 'Show details', jam_path(jam) %>
              <%= link_to 'Attend', root_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <h1>MAP HERE</h1>
    </div>
  </div>
</div>
