<div class="container-fullscreen">
  <div class="row">
    <div class="col-12" >
      <% @jams.each do |jam| %>
        <div class="jam-card">
          <%= cl_image_tag jam.photo.key, height: 150, width: 150, crop: :fill %>
          <div class="jam-info">
            <h5><%= jam.title %></h2>
            <p><%= jam.location %></p>
            <p><%= jam.date %></p>
            <div class="d-flex flex-row justify-content-end">
              <%= link_to 'Show details', jam_path(jam) %>
              <%= link_to 'Attend', new_jam_booking_path(jam.id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map-index">
    <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
