<div class="form--card mx-auto">
  <%= simple_form_for @jam do |f| %>
    <div class="form-inputs">
      <%= f.input :title, required: true %>
      <%= f.input :description, required: false %>
      <%= f.input :location, required: true, id: 'jam_location' %>
      <%# <%= f.input :date, as: :datetime, html5: true, required: true %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'Insert your date' %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Create Jam", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
</div>
