<div class="map-container">
  <div id="map"
    style="width: 100%; height: 230px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-center="<%= @center_coordinates.reverse.to_json %>"></div>
</div>
<div class="container">
  <div class='jam--container'>
    <div class="jam--container--top">
        <div class="jam--container--top__info">
          <%= render "show_jam_photo", jam: @jam %>
          <div class="spacer">
            <div class="jam--container--top__info__text">
              <h5> <%= @jam.title %></h4>
              <p class='date'> <%= @jam.date.strftime("%F at %H:%M") %></p>
              <p> <%= @jam.description %></p>
            </div>
            <% if (current_user) %>
              <% if (@jam.bookings.where(user_id: current_user.id)).empty? %>
                <button type="button" class="btn btn-primary attend">
                  Attend Jam
                </button>
              <% else %>
                <button type="button" class="btn btn-primary attend disabled" disabled>
                  Attend Jam
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      <%= link_to 'Back', :back, class:'back--link' %>
    </div>
    <% if (current_user) %>
      <div id="new-booking"  style="display:none;" class="mb-5 form--booking" >
        <%= render "booking_form" %>
      </div>
    <% end %>
    <h3>Atendees:</h3>
    <div class="atendees--container">
      <% @jam.bookings.each do |session| %>
        <div class="atendee--container">
          <div class="atendee--container--info">
            <%= cl_image_tag session.user.avatar.key, height: 92, width: 92, crop: :fill %>
            <div class="atendee--container--info__text">
              <h5><%= session.user.username %></h5>
              <p>attending with <span><%= session.instrument %></span></p>
            </div>
          </div>
          <%= link_to 'Show profile', user_path(session.user.id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "modal_booking", jam: @jam, booking: @booking, instruments: @instruments %>
