<div class="map-container">
  <div id="map"
    style="width: 100%; height: 230px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div class="container">
  <div class='jam--container'>
    <div class="jam--container--top">
        <div class="jam--container--top__info">
          <%= render "show_jam_photo", jam: @jam %>
          <div class="spacer">
            <div class="jam--container--top__info__text">
              <h5> <%= @jam.title %></h4>
              <p class='date'> <%= @jam.date.strftime("%F at %H:%M") %></p>
              <p> <%= @jam.description %></p>
            </div>
            <%= link_to 'Attend Jam', new_jam_booking_path(@jam.id), class:'btn btn-primary attend' %>
          </div>
        </div>
      <%= link_to 'Back', jams_path, class:'back--link' %>
    </div>

    <h3>Atendees:</h3>
    <div class="atendees--container">
      <% @jam.bookings.each do |session| %>
        <div class="atendee--container">
          <div class="atendee--container--info">
            <%= cl_image_tag session.user.avatar.key, height: 92, width: 92, crop: :fill %>
            <div class="atendee--container--info__text">
              <h5><%= session.user.username %></h5>
              <p>attending with <span><%= session.instrument %></span></p>
            </div>
          </div>
          <a href="#">Show profile</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
